<div class="card">
    <div class="card-body">
        <h5 class="titulo">Listas de Tarjetas</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>Rubén Prieto</td>
                    <td>1234123412341234</td>
                    <td>23/12</td>
                    <td>
                        <i class="fa-regular fa-pen-to-square text-primary far"></i>
                        <i class="fa-solid fa-trash-can text-danger far"></i>
                    </td>
                </tr>
                <tr>
                    <td>Rubén Prieto</td>
                    <td>1234123412341234</td>
                    <td>23/12</td>
                    <td>
                        <i class="fa-regular fa-pen-to-square text-primary far"></i>
                        <i class="fa-solid fa-trash-can text-danger far"></i>
                    </td>
                </tr>
                <tr>
                    <td>Rubén Prieto</td>
                    <td>1234123412341234</td>
                    <td>23/12</td>
                    <td>
                        <i class="fa-regular fa-pen-to-square text-primary far"></i>
                        <i class="fa-solid fa-trash-can text-danger far"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
