<div class="card">
    <div class="card-body">
        <h5 class="titulo">Lista de Tarjetas · {{ numeroTarjetas.numeroTarjetas }}/10</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Titular</b></td>
                    <td class="text-center"><b>Número de Tarjeta</b></td>
                    <td class="text-center"><b>Fecha Expiración</b></td>
                    <td class="text-center"><b>Acciones</b></td>
                </tr>
                <tr *ngFor="let tarjeta of listaTarjetas">
                    <td>{{ tarjeta.titular }}</td>
                    <td class="text-center">{{ tarjeta.numeroTarjeta }}</td>
                    <td class="text-center">{{ tarjeta.fechaExpiracion }}</td>
                    <td class="text-center">
                        <i (click)="updateTarjeta(tarjeta)" class="fa-regular fa-pen-to-square text-primary far"></i>
                        <i (click)="deleteTarjeta(tarjeta.id)" class="fa-solid fa-trash-can text-danger far"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>